<h1 class="title animate__animated animate__jackInTheBox">{{ title }}</h1>
<ul class="animate__animated animate__flipInX" *ngIf="mode=='list'">
    <p class="text-center" *ngIf="todos.length==0"><small>Não tem uma tarefa hoje!</small></p>
    <li *ngFor="let todo of todos">
      {{ todo.title }}
        <button (click)="remove(todo)">
          <i class="fa-solid fa-trash"></i>
        </button>
        <button *ngIf="!todo.done" (click)="markAsDone(todo)">
          <i class="fa-regular fa-square"></i>
        </button>
        <button *ngIf="todo.done" (click)="markAsUndone(todo)">
          <i class="fa-regular fa-square-check"></i>
        </button> 
      </li>
</ul>

<div id="modal" *ngIf="mode=='add'" class="animate__animated animate__flipInX">
  <h1 class="text-center">Nova Tarefa</h1>
  <form [formGroup]="form">
    <input type="text" 
      placeholder="Título da Tarefa" 
      maxlength="60" 
      formControlName="title">
      <small class="danger" *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">
        Este campo deve conter entre 3 a 60 caracteres<br>
      </small>
      <p class="text-center">
        <button [disabled]="form.invalid" (click)="add()"  class="button">
          <i class="fa-solid fa-floppy-disk fa-bounce"></i>
          Salvar
        </button>
      </p>
  </form>
</div>

<button class="add-button animate__animated animate__flipInX button" (click)="changeMode('add')" *ngIf="mode=='list'">
  <i class="fa-regular fa-plus fa-beat-fade"></i>
  NOVA TAREFA
</button>
<button class="add-button animate__animated animate__flipInX button" (click)="changeMode('list')" *ngIf="mode=='add'">
  <i class="fa-solid fa-xmark fa-beat-fade"></i>
  CANCELAR
</button>